img {
    width:70px;
}

.navbar-text {
  font-family: "Palatino Linotype", serif;
  font-weight: bold;
  color: #37465d;
}

#map-austin {
  height: 100%;
}

.map-container {
  position: relative;
  height: 75vh;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filters {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

form a span {
  color: black;
  cursor: pointer;
}

.form-control {
  display: inline;
  width: 90%;
}

#button-submit {
  background: transparent;
  border: none;
  padding: 0;
  display: inline;
}

.glyphicon-search {
  display: inline;
}
