img {
    width:80px;
}

.navbar-text {
  font-family: "Palatino Linotype", serif;
  font-weight: bold;
  color: #37465d;
}

.map-container {
  position: relative;
  height: 75vh;
  overflow: hidden;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.filters {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

form a span {
  color: black;
  cursor: pointer;
}

.charity-item {
  width: 300px;
}

.form-control {
  display: inline;
  width: 90%;
}

#button-submit {
  background: transparent;
  border: none;
  padding: 0;
  display: inline;
}

.glyphicon-search {
  display: inline;
}

.legend {
  line-height: 18px;
  color: #555;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.nav-buttons {
  margin-top: 12px;
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- panel ---- */
.charities-panel {
  background: #F8F8F8;
  border-left: 1px solid #ccc;
  width: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-out;
  padding: 10px;
}

.charities-panel--active {
  transform: translateX(0);
}

.charities-container {
  max-height: 500px;
  overflow-y: auto;
}

.charities-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }



/* ---- grid ---- */

.grid {
  max-width: 350px;
  max-height: 80%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 400px;
  background: none;
  border-bottom: 1px solid #ccc;
}
.grid-item .image {
  float: left;
  margin: 5px;
}

.grid-item--red { background: #D00; }
.grid-item--blue { background: #19F; }
